.loginHeader h1 {
  padding-top: 70px;
  text-align: center;
  font-size: 30px
}

.loginHeader p {
  position: relative;
  text-align: center;
  top: -10px;
  font-size: 16px;
  color: #9E9E9E
}

.loginForm {
  text-align: center;
  position: relative;
}

.loginButton {
  padding-top: 30px
}
.loginHeader {
  margin-top: 50px
}
.container {
  display: grid;
  background-image: url(./public/images/loginBackground.svg);
}

a {
  padding-left: 2px;
  padding-right: 2px;
}
